@media screen and (min-width: 2560px) {
  .menu ul li a {
    font-size: 35px;
  }
  nav .menu_pa ul li {
    margin: 15px 20px;
  }
  .menu_pa ul li a {
    font-size: 35px;
  }
  .pa {
    font-size: 7rem;
  }
  .pc {
    font-size: 4rem;
  }
  .btn-fullmenu button {
    font-size: 35px;
  }

  .logo {
    height: 90%;
  }
  .slogan-green,
  .slogan-white,
  .slogan-green-2 {
    font-size: 150px;
  }
  .text-1-1 {
    font-size: 70px;
  }
  .btn-stc {
    font-size: 50px;
    height: 80px;
  }
  .text-2 {
    font-size: 2rem;
  }
  .titulo-2 {
    font-size: 3rem;
  }
  .text-2-1 {
    font-size: 1.8rem;
  }
  .nosotros-info .text-2-1 {
    font-size: 1.8rem;
  }
  .Grupo img {
    width: 80%;
  }
  .banner-text h1 {
    font-size: 65px;
  }
  .banner-text p {
    font-size: 40px;
  }

  .video-1 iframe {
    height: 600px;
  }
  .dudas_2 {
    font-size: 3rem;
  }
  .afiliacion-b .text-2 {
    font-size: 2.5rem;
  }
  .acordeon .contenedor {
    font-size: 35px;
  }
  .acordeon .etiqueta {
    font-size: 50px;
  }
  .simulador-card {
    height: 600px;
    padding: 50px 50px 0 50px;
  }
  .contenedorResumen {
    height: 450px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 30px;
  }
  .contenedorValor {
    margin: 50px 0 30px 0;
  }
  .subTitulo {
    font-size: 30px;
  }
  .simulador-range h2 {
    font-size: 70px;
  }
  .btn-simulador button {
    bottom: -35px;
  }
  .nota {
    margin-top: 60px;
  }
  .nota p {
    font-size: 15px;
  }
  .btn-stc-2 {
    border: 5px solid #fbe0ee;
    font-size: 50px;
    height: 90px;
  }
  .btx1 {
    font-size: 2rem;
  }
  .btx2 {
    font-size: 3rem;
  }
  .titulo-2-pa {
    font-size: 3rem;
  }
  .text-2-pa {
    font-size: 1.7rem;
  }
  .text-2-1-pa {
    font-size: 1.5rem;
  }
  .contacto input {
    width: 800px;
    height: 70px;
    border-radius: 8px;
    border-width: 3px;
  }
  .contacto textarea {
    width: 800px;
    height: 150px;
    border-radius: 8px;
    border-width: 3px;
  }
  .enviar {
    font-size: 40px;
  }
  .colocar {
    font-size: 30px;
  }
  .aviso {
    font-size: 25px;
  }
  .btn_redes {
    width: 90px;
    height: 90px;
  }
  .btn_redes .fa-brands {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .main-2 {
    height: 100%;
  }
  .main-1 {
    height: 80vh;
  }
  .pa {
    font-size: 4rem;
  }
  .pc {
    font-size: 2rem;
  }
  .btn-stc-2 {
    border: 3px solid #fbe0ee;
    font-size: 30px;
    height: 52px;
  }

  .titulo-2-pa {
    font-size: 1.5rem;
  }
  .text-2-pa {
    font-size: 1.1rem;
  }
  .text-2-1-pa {
    font-size: 0.7rem;
  }
  .contacto input {
    width: 800px;
    height: 40px;
    border-radius: 8px;
    border-width: 2px;
  }
  .contacto textarea {
    width: 800px;
    height: 150px;
    border-radius: 8px;
    border-width: 3px;
  }
  .enviar {
    font-size: 30px;
  }
  .colocar {
    font-size: 20px;
  }
  .aviso {
    font-size: 15px;
  }
  .btn_redes {
    width: 55px;
    height: 55px;
  }
  .btn_redes .fa-brands {
    font-size: 20px;
  }
}

@media screen and (max-width: 1108px) {
  .slogan-green,
  .slogan-white {
    font-size: 75px;
  }

  .renglon_1_datos,
  .renglon_2_datos,
  .renglon_5_datos,
  .renglon_4_datos,
  .archivos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .renglon_3_datos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .Form_poli {
    margin: 30px 300px 30px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -35px;
  }
  .nota {
    margin-top: 30px;
  }
  .pa {
    font-size: 4rem;
  }
  .pc {
    font-size: 2rem;
  }

  .enviar {
    font-size: 25px;
  }
  .main-1 {
    height: 75vh;
  }
}
@media screen and (max-width: 991px) {
  .slogan-green,
  .slogan-white {
    font-size: 75px;
  }
  .slogan-green-2 {
    font-size: 62px;
  }

  .Grupo {
    height: 55%;
  }
  .Grupo img {
    width: 25%;
  }
  .text-2 {
    font-size: 25px;
  }
  .text-2-1 {
    font-size: 18px;
  }
  .menu {
    display: none;
    width: 0%;
  }
  .paso img {
    width: 75%;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.8em;
  }
  .banner-text {
    padding: 30px;
  }
  nav .menu_pa {
    display: none;
    width: 0%;
  }
  .pa {
    font-size: 3.5rem;
  }
  .pc {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 912px) {
  .slogan-green {
    font-size: 60px;
    width: 100%;
  }
  .banner .persona-1 {
    height: 100%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 15px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 {
    min-height: 52vh;
  }
}
@media screen and (max-width: 900px) {
  .main-1 {
    height: 75vh;
  }
  .contacto input {
    width: 800px;
    height: 30px;
    border-radius: 8px;
    border-width: 2px;
    font-size: 15px;
    margin: 0px;
  }
  .contacto textarea {
    width: 800px;
    height: 150px;
    border-radius: 8px;
    border-width: 3px;
  }
  .enviar {
    font-size: 20px;
  }
  .colocar {
    font-size: 15px;
  }
  .aviso {
    font-size: 12px;
  }
  .btn_redes {
    width: 45px;
    height: 45px;
  }
  .btn_redes .fa-brands {
    font-size: 20px;
  }
  .bg-image-3 {
    height: 50vh;
  }
  .beneficios_card img {
    width: 90%;
  }
  .contenedor-imagen{
    height: 70%;
  }

}
@media screen and (max-width: 829px) {
  #grupo-2 {
    display: none;
  }
  .acordeon .contenedor.activa .contenido {
    height: 150px;
  }
  .Form_poli {
    margin: 30px 250px 30px 60px;
  }
  .Grupo {
    height: 57%;
  }
  .Grupo img {
    width: 32%;
  }
  .banner-text p {
    font-size: 15px;
  }
  .banner-text {
    padding: 20px;
  }
  .pa {
    font-size: 3.2rem;
  }
  .pc {
    font-size: 1.5rem;
  }
  .bg-image-3 {
    height: 50vh;
  }
  .beneficios_card img {
    width: 90%;
  }
}
@media screen and (max-width: 820px) {
  .slogan-green {
    font-size: 60px;
    width: 100%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 40px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 {
    min-height: 60vh;
  }
  .banner-g {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .persona-1 {
    height: 60%;
  }
  .pasos {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0% 0% 5% 0%;
  }

  .slogan-green,
  .slogan-white {
    font-size: 60px;
  }
  .slogan-green-2 {
    font-size: 75px;
  }
  .banner {
    padding: 0%;
  }
  .banner h1 {
    font-size: 25px;
  }
  .requisitos-icon {
    width: 100%;
  }

  .banner-text h1 {
    font-size: 45px;
  }
  .text-1-1 {
    font-size: 35px;
  }

  .header {
    height: 8vh;
  }
  .Grupo {
    height: 50%;
  }
  .Grupo img {
    width: 33%;
  }
  .simulador-card {
    flex-direction: column;
  }
  .banner-text p {
    font-size: 20px;
  }
  .banner-text {
    width: 100%;
    padding: 15px;
  }
  .video-1 {
    width: 100%;
  }
  .footer-quick-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  footer h6 {
    text-align: center;
  }
  .footer-logo img {
    margin: 0;
    padding-top: 8%;
  }
  .footer-derechos {
    margin: 0;
  }
  .info-contacto ul {
    display: none;
  }
  .contacto input {
    width: 300px;
  }
  .contacto textarea {
    width: 300px;
  }
  .main-1 {
    overflow-x: hidden;
  }
  .paso-1-2-pa {
    width: 10px;
  }

  .bg-image-3 {
    height: auto;
  }
  .pa {
    font-size: 4rem;
  }
  .pc {
    font-size: 2.5rem;
  }
  .btx1 {
    font-size: 1.1rem;
  }
  .btx2 {
    font-size: 2.2rem;
  }
  .titulo-2-pa {
    font-size: 3rem;
  }
  .text-2-pa {
    font-size: 1.7rem;
  }
  .text-2-1-pa {
    font-size: 1.5rem;
  }
  .beneficios {
    flex-direction: column;
    padding-bottom: 12%;
    align-items: center;
  }
  .beneficios_card {
    width: 80%;
    margin-top: 15%;
  }
  .beneficios_card img {
    width: 100%;
  }
  .ven_green1 {
    flex-direction: column;
    align-items: center;
  }
  .ven_green2 {
    align-items: center;
    flex-direction: column;
  }
  .ventajas_box {
    width: 80%;
  }
  .ven_text {
    font-size: 3.5vw;
  }
  .ventajas_icon img {
    height: 150px;
  }
  body {
    overflow-x: hidden;
  }
  #Persona-2 {
    display: none;
  }
  .contenedor-imagen{
    height: 60%;
  }
}
@media screen and (max-width: 712px) {
  .persona-1 img {
    height: 100%;
  }
  .amigos {
    height: 70%;
  }
  .btx1 {
    font-size: 1rem;
  }
  .btx2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 670px) {
  .paso img {
    width: 30%;
  }
  .amigos {
    height: 65%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 50px;
  }
  .tyc label {
    font-size: 13px;
  }

  .tyc label a {
    font-size: 13px;
  }
  .footer-derechos {
    flex-direction: column;
  }
  .ventajas {
    padding: 0% 7% 5% 7%;
  }
  .ventajas_green {
    width: 95%;
  }
  .ven_text {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 640px) {
  .amigos {
    height: 60%;
  }
  .btx1 {
    font-size: 0.9rem;
  }
  .btx2 {
    font-size: 1.8rem;
  }
  .contenedor-imagen{
    height: 80%;
    aspect-ratio: 4 / 3;
  }
 
}
@media screen and (max-width: 624px) {
  .btn-enviar {
    justify-content: center;
  }
  .Form_poli {
    margin: 30px 200px 30px 60px;
  }
  .btx1 {
    font-size: 0.9rem;
  }
  .btx2 {
    font-size: 1.7rem;
  }
}


@media screen and (max-width: 576px) {
  .pasos {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .paso img {
    width: 150px;
  }
  .amigos {
    height: 55%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 50px;
  }
  #Persona-2 {
    display: none;
  }
  .requisitos-a h3 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .requisitos-a p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .requisitos-icon {
    display: none;
  }
  .pagos hr {
    display: none;
  }
  .pagos h2 {
    text-align: center;
  }
  .pagos p {
    text-align: center;
  }
  .pagos .pagos-icon {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .pagos-icon img {
    width: 80px;
  }
  .bg-image-2 {
    padding: 0% 6% 0% 6%;
  }
  .persona-1 {
    height: 60%;
  }
  .banner {
    padding: 0% 6% 0% 6%;
  }
  .bg-image-2 {
    height: 70vh;
  }
  .full-menu .navegacion ul li {
    align-self: center;
    padding-left: 0%;
  }
  .Menu-image {
    display: none;
  }
  .full-menu .navegacion ul li a {
    opacity: 1;
  }
  .nosotros-info .titulo-2 {
    font-size: 29px;
  }
  .nosotros-info .text-2-1 {
    font-size: 13px;
  }
  .Grupo img {
    width: 45%;
  }
  .nosotros-icon img {
    height: 75%;
  }
  .acordeon .contenedor.activa .contenido {
    height: 190px;
  }
  .tyc label {
    font-size: 12px;
  }

  .tyc label a {
    font-size: 12px;
  }
  .video-1 iframe {
    height: 300px;
    padding-bottom: 35px;
  }
  .btx1 {
    font-size: 0.8rem;
  }
  .btx2 {
    font-size: 1.6rem;
  }
  .contenedor-imagen{
    height: 75%;
  }
}
@media screen and (max-width: 565px) {
  .persona-1 img {
    height: 100%;
  }
  .conocenos .amigos {
    height: 60%;
  }
}

@media screen and (max-width: 540px) {
  .persona-1 img {
    height: 94%;
  }
  .Form_poli {
    margin: 30px 60px 30px 60px;
  }
  .bg-image-6 {
    background: url("/Img/Fondos/Ladrillos.png");
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 60px;
  }
  .conocenos .amigos {
    height: 55%;
  }
}
@media screen and (max-width: 500px) {
  .amigos {
    height: 50%;
  }
  .btx1 {
    font-size: 0.7rem;
  }
  .btx2 {
    font-size: 1.4rem;
  }
  .main-carrusel {
    height: 80vh;
  }
  .contenedor-imagen{
    height: 65%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 411px) {
  .main-3 {
    height: 100vh;
  }
  .amigos {
    height: 50%;
  }
  .conocenos {
    height: 100%;
  }
  .conocenos .text-1-1 {
    height: 40%;
    margin: 0;
  }
  .conocenos .amigos {
    height: 60%;
  }
  .nosotros-5 .nosotros-icon {
    display: none;
  }

  .nosotros-icon {
    height: 100%;
  }
  .acordeon .etiqueta {
    font-size: 25px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 310px;
  }
  .persona-1 {
    height: 50%;
  }
  .main-1 {
    height: 100vh;
  }
  
  .pa {
    font-size: 3rem;
  }
  .pc {
    font-size: 2rem;
  }
  .beneficios_card {
    width: 100%;
    margin-top: 15%;
  }
  .ventajas_icon img {
    height: 100px;
  }
}
@media screen and (max-width: 414px) {
  .main-1 {
    height: 75vh;
  }
  .persona-1 img {
    height: 100%;
  }
  .bg-image-2 {
    height: 60vh;
  }
  .Grupo img {
    width: 90%;
  }
  .conocenos h1 {
    font-size: 70px;
  }
  .main-3 {
    height: 50vh;
  }
  .nosotros-info .titulo-2 {
    font-size: 25px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.6em;
  }
  .conocenos {
    height: 100%;
  }
  .conocenos .text-1-1 {
    height: 100%;
    margin: 0;
  }
  .conocenos .amigos {
    height: 48%;
  }
  .nosotros-icon img {
    height: 30%;
  }
  .acordeon .etiqueta {
    font-size: 24px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 310px;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 55px;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
  .main-carrusel {
    height: 75vh;
  }
  .contenedor-imagen{
    height: 60%;
  }
  .contenedor-botones  button i{
    font-size: 40px;
      &:hover {
        font-size: 50px;
      }
  }
}
@media screen and (max-width: 393px) {
  .persona-1 img {
    height: 100%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
  .nosotros-icon img {
    height: 40%;
  }
}

@media screen and (max-width: 390px) {
  .paso img {
    width: 50%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 43px;
  }
  .slogan-green-2 {
    font-size: 43px;
  }
  .requisitos-icon img {
    width: 40%;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  .persona-1 {
    height: 64%;
  }
  .banner {
    padding: 0% 6% 0% 6%;
  }
  .bg-image-2 {
    height: 70vh;
  }
  .nosotros-info .titulo-2 {
    font-size: 25px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.6em;
  }
  .amigos {
    height: 45%;
  }
  .nosotros-icon img {
    height: 50%;
  }

  .banner-text h1 {
    font-size: 35px;
  }
  .banner-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .main-1 {
    height: 75vh;
  }
  .persona-1 {
    height: 70%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 60px;
  }
  .main-3 {
    height: 50vh;
  }
  .nosotros-icon img {
    height: 42%;
  }
  .nosotros-5 .nosotros-icon {
    display: none;
  }
  .amigos {
    height: 60%;
  }
  .simulador-card {
    width: 95%;
  }
  .btx1 {
    font-size: 0.6rem;
  }
  .btx2 {
    font-size: 1.3rem;
  }
  .titulo-2-pa {
    font-size: 2rem;
    justify-self: center;
  }
  .text-2-pa {
    font-size: 1.5rem;
  }
  .text-2-1-pa {
    font-size: 1rem;
  }
  .main-carrusel {
    height: 70vh;
  }
}
@media screen and (max-width: 360px) {
  .main-1 {
    height: 75vh;
  }
  .persona-1 {
    height: 65%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 40px;
  }
  .main-3 {
    height: 40vh;
  }
  .amigos {
    height: 60%;
  }
  .nosotros-icon img {
    height: 45%;
  }
  .acordeon .etiqueta {
    font-size: 15px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 370px;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 40px;
  }

  .simulador-card {
    padding: 20px 20px 0 20px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 40px;
  }
  .nota p {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .simulador-card {
    padding: 20px 20px 0 20px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 12px;
  }
  .contenedorResumen span {
    font-size: 15px;
  }
  .btn-simulador button {
    left: -85px;
  }
  .nota {
    margin-top: 60px;
  }
  .nota p {
    font-size: 10px;
  }
  .nosotros-info .titulo-2 {
    font-size: 22px;
  }

  .main-carrusel {
    height: 58vh;
  }
  .contenedor-imagen{
    height: 60%;
  }
}

@media screen and (max-width: 280px) {
  .slogan-green,
  .slogan-white {
    font-size: 35px;
  }
  .text-1-1 {
    font-size: 25px;
  }
  .persona-1 {
    height: 60%;
  }
  .full-menu .navegacion ul li a {
    font-size: 45px;
  }
  .Grupo img {
    width: 90%;
  }

  .conocenos h1 {
    font-size: 50px;
  }
  .nosotros-info {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nosotros-info .titulo-2 {
    font-size: 18px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.5em;
  }
  .amigos {
    height: 55%;
  }
  .nosotros-icon {
    display: none;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 36px;
  }
  .main-carrusel {
    height: 50vh;
  }
  .contenedor-imagen{
    height: 60%;
  }
  .contenedor-botones  button i{
    font-size: 35px;
      &:hover {
        font-size: 40px;
      }
  }
}
