@media screen and (min-width: 2560px) {
  .menu ul li a {
    font-size: 35px;
  }
  .btn-fullmenu button {
    font-size: 35px;
  }
  .logo {
    height: 90%;
  }
  .slogan-green,
  .slogan-white,
  .slogan-green-2 {
    font-size: 150px;
  }
  .text-1-1 {
    font-size: 70px;
  }
  .btn-stc {
    font-size: 50px;
    height: 80px;
  }
  .text-2 {
    font-size: 2rem;
  }
  .titulo-2 {
    font-size: 3rem;
  }
  .text-2-1 {
    font-size: 1.8rem;
  }
  .nosotros-info .text-2-1 {
    font-size: 1.8rem;
  }
  .Grupo img {
    width: 80%;
  }
  .dudas_2 {
    font-size: 3rem;
  }
  .afiliacion-b .text-2 {
    font-size: 2.5rem;
  }
  .acordeon .contenedor {
    font-size: 35px;
  }
  .acordeon .etiqueta {
    font-size: 50px;
  }
  .simulador-card {
    height: 600px;
    padding: 50px 50px 0 50px;
  }
  .contenedorResumen {
    height: 450px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 30px;
  }
  .contenedorValor {
    margin: 50px 0 30px 0;
  }
  .subTitulo {
    font-size: 30px;
  }
  .simulador-range h2 {
    font-size: 70px;
  }
  .btn-simulador button {
    bottom: -35px;
  }
  .nota {
    margin-top: 60px;
  }
  .nota p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1108px) {
  .slogan-green,
  .slogan-white {
    font-size: 75px;
  }

  .renglon_1_datos,
  .renglon_2_datos,
  .renglon_5_datos,
  .renglon_4_datos,
  .archivos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .renglon_3_datos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .Form_poli {
    margin: 30px 300px 30px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .persona-1 {
    height: 75%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -35px;
  }
  .nota {
    margin-top: 30px;
  }
  .info-contacto {
    padding: 0.8% 2% 0.8% 2%;
  }
}
@media screen and (max-width: 992px) {
  .slogan-green,
  .slogan-white {
    font-size: 75px;
  }
  .slogan-green-2 {
    font-size: 62px;
  }
  .text-2 {
    font-size: 25px;
  }
  .text-2-1 {
    font-size: 18px;
  }
  .menu {
    display: none;
    width: 0%;
  }
  .paso img {
    width: 75%;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 912px) {
  .main-1 {
    height: 50vh;
  }
  .persona-1 {
    height: 80%;
  }
  .slogan-green {
    font-size: 60px;
    width: 100%;
  }
  .bg-image-2 {
    height: 50vh;
  }
  .banner .persona-1 {
    height: 100%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 15px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 {
    min-height: 52vh;
  }
  .info-contacto {
    padding: 0.8% 2% 0.8% 2%;
  }
}
@media screen and (max-width: 829px) {
  #grupo-2 {
    display: none;
  }
  .acordeon .contenedor.activa .contenido {
    height: 150px;
  }
  .Form_poli {
    margin: 30px 250px 30px 60px;
  }
}
@media screen and (max-width: 712px) {
  .persona-1 img {
    height: 88%;
  }
}
@media screen and (max-width: 768px) {
  .pasos {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .paso img {
    width: 50%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 60px;
  }
  .slogan-green-2 {
    font-size: 75px;
  }
  .banner h1 {
    font-size: 25px;
  }
  .info-contacto ul {
    display: none;
  }
  .requisitos-icon {
    width: 100%;
  }
  .text-1-1 {
    font-size: 35px;
  }
  .pasos {
    padding: 0% 0% 5% 0%;
  }
  .header {
    height: 8vh;
  }
  #grupo-1 {
    display: none;
  }
  .Grupo {
    height: 50%;
  }
  .Grupo img {
    width: 50%;
  }
  .simulador-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .main-1 {
    height: 50vh;
  }
  .persona-1 {
    height: 80%;
  }
  .slogan-green {
    font-size: 60px;
    width: 100%;
  }
  .bg-image-2 {
    height: 50vh;
  }
  .banner .persona-1 {
    height: 100%;
  }

  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 40px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 {
    min-height: 60vh;
  }
  .info-contacto {
    padding: 0.8% 2% 0.8% 2%;
  }
}
@media screen and (max-width: 670px) {
  .paso img {
    width: 30%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 50px;
  }
  .tyc label {
    font-size: 13px;
  }

  .tyc label a {
    font-size: 13px;
  }
}
@media screen and (max-width: 624px) {
  .btn-enviar {
    justify-content: center;
  }
  .Form_poli {
    margin: 30px 200px 30px 60px;
  }
}

@media screen and (max-width: 576px) {
  .pasos {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .paso img {
    width: 150px;
  }
  .slogan-green,
  .slogan-white {
    font-size: 50px;
  }
  #Persona-2 {
    display: none;
  }
  .requisitos-a h3 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .requisitos-a p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .requisitos-icon {
    display: none;
  }
  .pagos hr {
    display: none;
  }
  .pagos h2 {
    text-align: center;
  }
  .pagos p {
    text-align: center;
  }
  .pagos .pagos-icon {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .pagos-icon img {
    width: 80px;
  }
  .bg-image-2 {
    padding: 0% 6% 0% 6%;
  }
  .persona-1 {
    height: 60%;
  }
  .banner {
    padding: 0% 6% 0% 6%;
  }
  .bg-image-2 {
    height: 70vh;
  }
  .full-menu .navegacion ul li {
    align-self: center;
    padding-left: 0%;
  }
  .Menu-image {
    display: none;
  }
  .full-menu .navegacion ul li a {
    opacity: 1;
  }
  .nosotros-info .titulo-2 {
    font-size: 29px;
  }
  .nosotros-info .text-2-1 {
    font-size: 13px;
  }
  .Grupo img {
    width: 70%;
  }
  .amigos {
    height: 70%;
  }
  .nosotros-icon img {
    height: 75%;
  }
  .acordeon .contenedor.activa .contenido {
    height: 190px;
  }
  .tyc label {
    font-size: 12px;
  }

  .tyc label a {
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  .persona-1 img {
    height: 94%;
  }
  .Form_poli {
    margin: 30px 60px 30px 60px;
  }
  .bg-image-6 {
    background: url("/Img/Fondos/Ladrillos.png");
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 60px;
  }
}

@media screen and (max-width: 412px) {
  .main-3 {
    height: 30vh;
  }
  .nosotros-icon {
    height: 40%;
  }
  .nosotros-5 .nosotros-icon {
    display: none;
  }
  .amigos {
    height: 60%;
  }
  .nosotros-icon {
    height: 60%;
  }
  .acordeon .etiqueta {
    font-size: 25px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 310px;
  }
}
@media screen and (max-width: 411px) {
  .persona-1 {
    height: 50%;
  }
}
@media screen and (max-width: 414px) {
  .main-1 {
    height: 90vh;
  }
  .persona-1 img {
    height: 100%;
  }
  .bg-image-2 {
    height: 60vh;
  }
  .Grupo img {
    width: 90%;
  }
  .conocenos h1 {
    font-size: 70px;
  }
  .main-3 {
    height: 50vh;
  }
  .nosotros-info .titulo-2 {
    font-size: 25px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.6em;
  }
  .amigos {
    height: 40%;
  }
  .nosotros-icon img {
    height: 30%;
  }
  .acordeon .etiqueta {
    font-size: 24px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 310px;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 55px;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
}
@media screen and (max-width: 393px) {
  .persona-1 img {
    height: 100%;
  }
  .simulador-card {
    padding: 20px 20px 0 20px;
    width: 85%;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 30px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 footer{
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .paso img {
    width: 50%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 43px;
  }
  .slogan-green-2 {
    font-size: 43px;
  }
  .requisitos-icon img {
    width: 40%;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  .persona-1 {
    height: 64%;
  }
  .banner {
    padding: 0% 6% 0% 6%;
  }
  .bg-image-2 {
    height: 70vh;
  }
  .nosotros-info .titulo-2 {
    font-size: 25px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.6em;
  }
  .amigos {
    height: 45%;
  }
  .nosotros-icon img {
    height: 50%;
  }
}

@media screen and (max-width: 375px) {
  .main-1 {
    height: 90vh;
  }
  .persona-1 {
    height: 70%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 60px;
  }
  .main-3 {
    height: 50vh;
  }
  .nosotros-icon img {
    height: 42%;
  }
  .nosotros-5 .nosotros-icon {
    display: none;
  }
  .amigos {
    height: 60%;
  }
  .simulador-card {
    width: 95%;
  }
}
@media screen and (max-width: 360px) {
  .main-1 {
    height: 90vh;
  }
  .persona-1 {
    height: 65%;
  }
  .slogan-green,
  .slogan-white {
    font-size: 40px;
  }
  .main-3 {
    height: 40vh;
  }
  .amigos {
    height: 60%;
  }
  .nosotros-icon img {
    height: 60%;
  }
  .acordeon .etiqueta {
    font-size: 15px;
  }
  .acordeon .contenedor.activa .contenido {
    height: 370px;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 40px;
  }

  .simulador-card {
    padding: 20px 20px 0 20px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 13px;
  }
  .contenedorResumen span {
    font-size: 20px;
  }
  .subTitulo {
    font-size: 18px;
  }
  .simulador-range h2 {
    font-size: 35px;
  }
  .btn-simulador button {
    bottom: -15px;
    left: -55px;
  }
  .nota {
    margin-top: 40px;
  }
  .nota p {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .simulador-card {
    padding: 20px 20px 0 20px;
  }
  .contenedorResumen p {
    margin-bottom: 21px;
    font-size: 12px;
  }
  .contenedorResumen span {
    font-size: 15px;
  }
  .btn-simulador button {
    left: -85px;
  }
  .nota {
    margin-top: 60px;
  }
  .nota p {
    font-size: 10px;
  }
  .simulador-1 footer{
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .slogan-green,
  .slogan-white {
    font-size: 35px;
  }
  .text-1-1 {
    font-size: 25px;
  }
  .persona-1 {
    height: 60%;
  }
  .full-menu .navegacion ul li a {
    font-size: 45px;
  }
  .Grupo img {
    width: 90%;
  }

  .conocenos h1 {
    font-size: 50px;
  }
  .nosotros-info {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nosotros-info .titulo-2 {
    font-size: 18px;
  }
  .nosotros-info .text-2-1 {
    font-size: 0.5em;
  }
  .amigos {
    height: 55%;
  }
  .nosotros-icon {
    display: none;
  }
  .logo_Fin_Poli a img {
    width: auto;
    height: 36px;
  }
}
