@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/century-gothic-paneuropean?styles=90072,90073,90075,90070,90065,90067,90063&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-style: italic;
}

body {
  background: url("/Img/Fondos/Fondo-principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
:root {
  --green: #01686d;
  --Fucsia: #ed1e79;
  --Cyan: #00ffff;
  --white: #fff;
  --D-Fucsia-iz: linear-gradient(
    90deg,
    rgba(237, 30, 121, 1) 0%,
    rgba(1, 104, 109, 1) 100%
  );
  --D-Cyan-iz: linear-gradient(
    90deg,
    rgb(0, 255, 242) 5%,
    rgba(1, 104, 109, 1) 95%
  );
  --D-Fucsia-De: linear-gradient(
    90deg,
    rgba(10, 98, 108, 1) 38%,
    rgba(237, 30, 121, 1) 100%
  );
  --D-Cyan-De: linear-gradient(
    90deg,
    rgb(1, 104, 109) 5%,
    rgba(0, 255, 242, 1) 95%
  );
  --D-Negro-iz: linear-gradient(90deg, rgb(0, 0, 0) 5%, rgba(1, 104, 109) 95%);
  --D-Fucsia: linear-gradient(
    0deg,
    rgba(1, 104, 109, 0.5998774509803921) 0%,
    rgba(237, 30, 121, 1) 100%
  );
  --D-Negro: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 76, 80, 0.7595413165266106) 56%,
    rgba(1, 104, 109, 0.5998774509803921) 100%
  );
  --text-shadow: 1px 1px 3px rgb(88, 88, 88);
  --text-shadow-cyan: 1px 1px 5px rgb(0, 255, 242);
  --box-shadow-fucsia: 0px 0px 31px 2px rgba(237, 30, 121, 1);
  --box-shadow-cyan: 0px 0px 31px 2px rgba(0, 255, 242, 1);
}
/*============================================SCROLLBAR=========================================*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--D-Fucsia);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--D-Fucsia);
}

/*============================================MENU=========================================*/
.full-menu {
  position: fixed;
  top: 0;
  z-index: 50;
  background: url("/Img/Fondos/Ladrillos-Azules.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  left: -108%;
}
.close {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: end;
}
.close span {
  font-size: 50px;
  cursor: pointer;
  color: var(--white);
  margin: 20px 20px 0 0;
  position: absolute;
  z-index: 10;
}
.close span:hover {
  color: #ed1e79;
  transition: 0.9s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

.full-menu .navegacion ul {
  display: flex;
  align-items: center;
  align-self: start;
  list-style: none;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.full-menu .navegacion ul li {
  align-self: start;
  justify-content: space-evenly;
  display: flex;
  justify-content: end;
  padding-left: 6%;
  margin-bottom: 0px;
}

.full-menu .navegacion ul li a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 43px;
  color: var(--white);
  opacity: 0.3;
}

.full-menu .navegacion ul li a:hover {
  opacity: 1;
}

#Menu-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Menu-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: none;
}

/*============================================SLOGAN=========================================*/

.slogan-white {
  color: var(--white);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-display: swap;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 90px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.slogan-green {
  color: var(--green);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-display: swap;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 90px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.whatsapp-icon {
  font-size: 30px;
}
/*============================================NAV-BAR=========================================*/

.header {
  padding: 0px;
  margin: 0px;
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  height: 15vh;
  justify-content: space-evenly;
  transition: all 0.3s;
  z-index: 2;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link .logo {
  align-items: center;
  height: auto;
}

.logo img {
  width: auto;
  padding: 10px;
  margin: 0px;
  height: 100%;
  min-height: 60px;
}
.logo img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.menu {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.menu ul li {
  list-style: none;
  margin: 15px 10px;
}

.menu ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.menu ul li a {
  text-decoration: none;
  color: var(--green);
  font-size: 0.9rem;
}

.menu ul li:hover a {
  color: var(--Fucsia);
}
.menu ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.menu ul li:hover .underline {
  background-color: var(--Fucsia);
  width: 100%;
}

.menu ul li:active .underline {
  transition: none;
  background-color: var(--Fucsia);
}

.btn-fullmenu {
  justify-content: end;
  align-items: end;
  height: auto;
}
.btn-fullmenu button:hover {
  box-shadow: var(--box-shadow-fucsia);
  transform: scale(1.2);
  transition: all 0.3s;
}

.btn-fullmenu button {
  background: var(--D-Fucsia-iz);
  padding: 2px 6px;
  font-style: italic;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 8px;
  height: auto;
  width: auto;
}

/*============================================MAIN=========================================*/
.paso-1 a {
  text-decoration: none;
}
.main-1 {
  width: 100%;
  height: 85vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.text-15 {
  width: 65%;
  padding: 30px 40px 0 40px;
  margin-bottom: 1%;
  border-radius: 30px;
  background: rgba(1, 104, 109, 0.8);
  color: #fff;
}
.text-1-1 {
  color: var(--green);
  justify-content: center;
  align-items: center;
}

.btn-paga {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 0px 20px;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  height: 60px;
}
.btn-paga:hover {
  box-shadow: none;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.persona-1 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: end;
}
.persona-1 img {
  height: 100%;
  align-items: end;
}

/*============================================PASOS/VENTAJAS=========================================*/

.pasos {
  background: var(--D-Cyan-De);
  padding: 0% 10% 5% 10%;
}
.ventajas {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0% 10% 5% 10%;
}
.titulo {
  padding: 2%;
}
.titulo h2 {
  margin-left: 6%;
}
.titulo p {
  margin-left: 6%;
}

.titulo-2 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  margin-top: 10%;
  font-size: 2rem;
}
.text-2 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-size: 1.5rem;
}
.text-2-1 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}
.paso {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paso img {
  width: 100%;
  margin: 10% 10% 10% 0;
  padding: 0;
}
.paso img:hover {
  filter: drop-shadow(0px 0px 25px #ed1e79);
}
.paso:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.paso-1 {
  margin: 0%;
}

/*============================================BANNER=========================================*/

.bg-image-2 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 6% 0% 6%;
  height: 100%;
}

.banner .persona-1 img {
  height: 100%;
}
.banner .btn {
  margin-top: 3%;
}
.banner .text-2-1 {
  text-shadow: none;
}
.text-4 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text-4 p {
  color: var(--green);
  text-justify: center;
}

/*============================================REQUISITOS=========================================*/

.requisitos {
  background: var(--D-Cyan-De);
  padding: 0% 10% 6% 10%;
}
.requisitos-icon img {
  width: 70%;
  filter: drop-shadow(0px 0px 8px #ed1e79);
}
.requisitos-icon :hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

/*============================================PAGOS=========================================*/
.pagos {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pagos-icon {
  width: 100%;
  filter: drop-shadow(0px 0px 8px #ed1e79);
  margin-bottom: 8%;
}
.pagos-icon img {
  filter: drop-shadow(0px 0px 8px #ed1e79);
  width: 100px;
}
.pagos-icon img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.pagos a {
  text-decoration: none;
  list-style: none;
}
.pagos .text-2 {
  color: var(--green);
  text-shadow: none;
}
.pagos .text-2-1 {
  color: var(--green);
  text-shadow: none;
}
#titulo-pagos {
  color: var(--green);
  text-shadow: none;
  font-size: 2rem;
}
.bg-image-3 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0% 10% 6% 10%;
}

/*============================================FORMS=========================================*/
.footer {
  background: var(--D-Fucsia-De);
  padding: 5% 10% 3% 10%;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.contacto input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Fucsia);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contacto textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Fucsia);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.contacto label {
  display: block;
  float: center;
}

.enviar {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 3px 25px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 3%;
  border: none;
}
.enviar:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.btn-fullmenu button p {
  color: #fff;
  align-items: center;
}

.aviso {
  font-size: 13px;
  color: var(--white);
}

.colocar {
  font-size: 20px;
  color: var(--white);
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid var(--Fucsia);
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid var(--Fucsia);
}
/*============================================CONTACTO=========================================*/
.invitación-3 {
  color: var(--white);
  padding-top: 1%;
}
.btn_redes:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow-cyan);
}

.btn_redes {
  background: var(--D-Cyan-iz);
  padding: 7px 5px;
  width: 50px;
  height: 50px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
  box-shadow: none;
  border-bottom: none;
  border: none;
  margin-top: 10%;
}

.btn_redes a {
  text-decoration: none;
  color: var(--white);
}

/*============================================EMPRESA=========================================*/
/*============================================MAIN-2=========================================*/
.main-2 {
  width: 100%;
  height: 85vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-1-1 {
  color: var(--green);
  justify-content: center;
}

.btn-stc {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 0px 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  white-space: pre;
  height: 40px;
}
.btn-stc:hover {
  box-shadow: none;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.Grupo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: end;
}
.Grupo img {
  width: 87%;
  align-self: end;
}

/* Arrow & Hover Animation */
.arrow-content {
  background: none;
  border: none;
}

#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: var(--Fucsia);
  transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: var(--Fucsia);
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}
/*============================================VENTAJAS=========================================*/

.ventajas .titulo-2 {
  color: var(--green);
  text-shadow: none;
  margin-top: 10%;
  font-size: 2rem;
}
.ventajas .text-2 {
  color: var(--green);
  text-shadow: none;
  font-size: 1.5rem;
}
.ventajas .text-2-1 {
  color: var(--green);
  text-shadow: none;
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}
/*============================================AFILIACIÓN=========================================*/
.bg-image-4 {
  background: var(--D-Negro-iz);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 70px 20px rgba(10, 98, 108, 1);
}

.afiliacion-icon {
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.afiliacion-icon img {
  width: 60%;
  filter: drop-shadow(0px 0px 3px #4d4d4d);
}
.afiliacion-b {
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1;
  margin: 1%;
}
.afiliacion-bg1 {
  background-color: rgba(1, 104, 109, 0.9);
  display: flex;
  align-self: center;
  height: 50vh;
  z-index: 1;
}
.afiliacion-bg1:hover {
  background: url("/Img/Empresas/conductora 1.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
.afiliacion-bg2 {
  background-color: rgba(1, 104, 109, 0.8);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg2:hover {
  background: url("/Img/Empresas/conductor 2.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
.afiliacion-bg3 {
  background-color: rgba(1, 104, 109, 0.7);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg3:hover {
  background-color: rgba(1, 104, 109, 0.6);
  background: url("/Img/Empresas/conductor 3.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
.afiliacion-bg4 {
  background-color: rgba(1, 104, 109, 0.5);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg4:hover {
  background: url("/Img/Empresas/conductora 4.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}

.t-afiliacion .titulo-2 {
  color: var(--green);
  margin-top: 2%;
  font-size: 2rem;
}
.afiliacion-b .text-2 {
  color: var(--white);
  text-shadow: #ed1e79;
  font-size: 1.5rem;
  z-index: 5;
  left: 30%;
  top: 45%;
}
.afiliacion-b .text-2-1 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}

/*============================================Banner-grupo=========================================*/
.banner-video {
  background: var(--D-Negro-iz);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 70px 20px rgba(10, 98, 108, 1);
}
.banner-g {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.banner-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
}
.banner-text h1 {
  color: var(--white);
}

.video-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.video-1 iframe {
  width: 100%;
  height: 400px;
}

.banner-text p {
  color: var(--white);
  text-justify: center;
}
.slogan-green-2 {
  color: var(--green);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 80px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
/*============================================Unete=========================================*/

.Unete {
  display: flex;
  width: 100vw;
  height: 30vh;
  background-color: var(--green);
}

.unete-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Unete .unete-2 .btn-stc {
  margin: 2%;
}

/*============================================Nosotros=========================================*/

.main-3 {
  width: 100%;
  height: 85vh;
  text-align: center;
  justify-content: end;
  align-items: center;
}
.conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
  width: 100%;
}
.conocenos h1 {
  font-size: 90px;
  margin: 0;
}
.amigos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}
.amigos img {
  height: 100%;
}
.nosotros {
  display: flex;
  flex-direction: column;
}

.nosotros-1,
.nosotros-3,
.nosotros-5 {
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: var(--D-Cyan-iz);
}
.nosotros-2,
.nosotros-4 {
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: var(--D-Fucsia-De);
}

.nosotros-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 0 2% 0 2%;
}
.nosotros-info .titulo-2 {
  margin: 0;
}
.nosotros-info .text-2-1 {
  font-size: 1em;
}

.nosotros-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nosotros-icon img {
  height: 80%;
}
.nosotros-1 .nosotros-info {
  align-items: start;
  justify-content: start;
}
.nosotros-2 .nosotros-info {
  align-items: end;
  justify-content: end;
}
.nosotros-3 .nosotros-info {
  align-items: start;
}
.nosotros-4 .nosotros-info {
  align-items: end;
}
.nosotros-1 .nosotros-info p {
  text-align: justify;
}
.nosotros-2 .nosotros-info p {
  text-align: right;
}

.nosotros-4 .nosotros-info p {
  text-align: right;
}
/*============================================Dudas=========================================*/
.text-1-3 {
  color: var(--Fucsia);
  justify-content: center;
}
.dudas {
  display: flex;
  flex-direction: column;
  background: var(--D-Cyan-De);
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.dudas_1 {
  width: 95%;
  color: var(--white);
  text-shadow: var(--text-shadow);
  margin: 2% 0 0 2%;
  font-size: 2rem;
}
.dudas_3 {
  align-items: center;
  margin: 0;
  padding: 0;
}

.contenedor_acordeon_dudas {
  align-self: center;
  margin: 10px 100px 10px 100px;
}
.contenedor_acordeon_dudas h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.acordeon_dudas {
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenedor_acordeon_dudas .acordeon_dudas label {
  display: block;
  padding: 15px;
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
  border-radius: 100px;
}
.acordeon_dudas label:hover {
  background: var(--D-Fucsia-iz);
  border-radius: 100px;
}
.acordeon_dudas .contenido-acordeon {
  padding: 0px;
  margin: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
  color: var(--white);
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
  text-shadow: var(--text-shadow);
}
.acordeon_dudas .contenido-acordeon ul li {
  color: #000;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}
.acordeon_dudas .contenido-acordeon a {
  color: var(--white);
  text-decoration: none;
  font-style: italic;
  font-size: 17px;
  font-weight: 800;
  text-align: justify;
}
.btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}
.btn-acordeon {
  display: none;
}

/*============================================Simulador=========================================*/

.container-2 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.simulador-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.simulador {
  display: flex;
  align-items: center;
  justify-content: center;
}
.simulador-card {
  display: flex;
  width: 65%;
  padding: 30px 40px 0 40px;
  margin-bottom: 1%;
  border-radius: 30px;
  background: rgba(1, 104, 109, 0.8);
  color: #fff;
}
.simulador-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.simulador-range {
  width: 100%;
}
.nota {
  margin-top: 35px;
}

.nota p {
  font-size: 12px;
  font-style: normal;
  text-align: end;
}

.simulador-range h2 {
  text-shadow: #fff 0px 0px 3px, #00ffff 0px 0px 10px, #00ffff 0px 0px 40px;
  width: 100%;
  margin-bottom: 20px;
}

.subTitulo {
  font-weight: bold;
  text-align: left;
  margin-left: 5%;
  float: left;
  text-shadow: #fff 0px 0px 3px, #00ffff 0px 0px 10px, #00ffff 0px 0px 40px;
}

.resumenCuota {
  text-align: right;
  text-shadow: #000 0px 0px 4px;
}

.contenedorResumen {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  border: 10px solid #fff;
  background: #fff;
  box-shadow: inset 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  color: #5e5e5e;
}
.hr {
  border-width: 3px;
  border-color: #5e5e5e;
}
.contenedorResumen p {
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.contenedorResumen span {
  text-align: right;
  float: right;
  margin-right: 5%;
}

.resumenTotal span {
  font-weight: 900;
  color: #5e5e5e;
  font-size: 125%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #fff;
  border-radius: 25px;
  box-shadow: var(--box-shadow-cyan);
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--D-Fucsia-iz);
  border: 3px solid #fff;
  box-shadow: var(--box-shadow-cyan);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.contenedorValor {
  position: relative;
  width: 70%;
}

.range-value,
.range-value2 {
  position: absolute;
  top: 100%;
}

.range-value span {
  width: 100px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  color: #5e5e5e;
  font-size: 15px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: -35%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.range-value2 span {
  width: 70px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  color: #5e5e5e;
  font-size: 15px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.range-value2 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: -35%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.btn-simulador {
  position: relative;
}
.btn-simulador button {
  position: absolute;
  bottom: -15px;
  left: -30px;
}

/*============================================FOOTER=========================================*/
footer {
  background: var(--green);
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: var(--white);
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
}
footer h6 {
  color: var(--white);
  font-size: 20px;
}
footer hr {
  color: var(--white);
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  height: 50px;
  margin: 30px 0 10px 50px;
}
.footer-quick-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3%;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.footer-derechos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10% 0 10%;
}
.footer-derechos p {
  color: var(--white);
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
}
.footer-derechos a {
  text-decoration: none;

  color: var(--white);
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
}

.asodatos img {
  height: 50px;
}
.modalDialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog h2 {
  font-size: 25px;
  margin: 10px;
  color: var(--green);
}

.modalDialog p {
  font-size: 13px;
  font-style: normal;
  color: var(--green);
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 75%;
  position: relative;
  margin: auto;
  padding: 5px 20px 13px 20px;
  background: #fff;

  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
  color: var(--green);
  line-height: 25px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/*============================================CONTACTO=========================================*/

.info-contacto ul {
  background: var(--green);
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
}
.info-contacto ul li {
  list-style: none;
}
.info-contacto ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8em;
}

/*============================================LEGAL=========================================*/
.bg-image-legal {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  height: auto;
}
.PQRS {
  align-items: center;
}
.legal {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Plegal {
  color: var(--D-Negro);
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  margin: 50px 100px 10px 100px;
  text-align: justify;
}
.contenedor-acordeon {
  align-self: center;
  margin: 50px 100px 10px 100px;
}
.contenedor-acordeon h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.acordeon {
  width: 100%;
  padding: 0;
  margin: 0;
}
.acordeon label {
  display: block;
  padding: 15px;
  font-size: 25px;
  color: var(--green);
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
  border-radius: 100px;
}
.acordeon label:hover {
  background: var(--D-Fucsia-iz);
  color: var(--white);
  border-radius: 100px;
}
.acordeon .contenido-acordeon {
  padding: 0px;
  margin: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
  color: #000;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}
.acordeon .contenido-acordeon ul li {
  color: #000;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}
.acordeon .contenido-acordeon a {
  color: var(--Fucsia);
  text-decoration: none;
  font-style: italic;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}
.btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}
.btn-acordeon {
  display: none;
}

/*============================================PRESTA ÁGIL=========================================*/

.body_pa {
  background: url("/Img/Fondos/Presta\ agil.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  z-index: 0;
}

nav .menu_pa {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
nav .menu_pa ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
nav .menu_pa ul li {
  list-style: none;
  margin: 15px 10px;
}

nav .menu_pa ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.menu_pa ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
}

nav .menu_pa ul li:hover a {
  text-shadow: 0 0 2px #ff80ee, 0 0 4px #ff00de, 0 0 7px #ff00de,
    0 0 8px #ff00de, 0 0 10px #ff00de;
}
nav .menu_pa ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

nav .menu_pa ul li:hover .underline {
  background-color: var(--Fucsia);
  width: 100%;
}

nav .menu_pa ul li:active .underline {
  transition: none;
  background-color: var(--Fucsia);
}

.pa {
  -webkit-text-stroke: 0.1rem #fbe0ee;
  color: transparent;
  font-size: 5rem;
  transform: rotate(-5deg);

  text-shadow: 0 0 20px #ff80ee, 0 0 40px #ff00de, 0 0 70px #ff00de,
    0 0 80px #ff00de, 0 0 100px #ff00de;

  animation: 0.5s ease infinite reverse glow;
}
.pc {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  transform: rotate(-5deg);
  padding: 0;
  margin: 0;

  text-shadow: 0 0 20px #6ec6d8, 0 0 40px #6ec6d8, 0 0 70px #00ffff,
    0 0 80px #00ffff, 0 0 90px #00ffff;
  animation: 0.3s ease infinite reverse glowb;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 20px #ff80ee, 0 0 40px #ff00de, 0 0 70px #ff00de,
      0 0 80px #ff00de, 0 0 90px #ff00de;
  }
  75% {
    text-shadow: 0 0 20px #ff80ee, 0 0 40px #ff00de, 0 0 70px #ff00de,
      0 0 80px #ff00de, 0 0 100px #ff00de;
    filter: brightness(120%);
  }
}
@keyframes glowb {
  0% {
    text-shadow: 0 0 20px #6ec6d8, 0 0 40px #6ec6d8, 0 0 70px #00ffff,
      0 0 80px #00ffff, 0 0 80px #00ffff;
  }
  75% {
    text-shadow: 0 0 20px #6ec6d8, 0 0 40px #6ec6d8, 0 0 70px #00ffff,
      0 0 80px #00ffff, 0 0 90px #00ffff;
    filter: brightness(110%);
  }
}
.btn-stc-2 {
  cursor: pointer;
  color: var(--white);
  box-shadow: 0 0 10px #ff80ee, 0 0 10px #ff80ee inset, 0 0 20px #ff00de;
  background: transparent;
  border: 3px solid #fbe0ee;
  padding: 0px 25px;

  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  text-shadow: 0 0 5px #ff80ee, 0 0 10px #ff00de, 0 0 20px #ff00de,
    0 0 40px #ff00de;
  border-radius: 50px;
  height: 60px;
  margin-top: 40px;
}
.btn-stc-2:hover {
  text-shadow: 0 0 15px #ff80ee, 0 0 20px #ff00de, 0 0 30px #ff00de,
    0 0 50px #ff00de;
  box-shadow: 0 0 30px #ff80ee, 0 0 20px #ff80ee inset, 0 0 40px #ff00de,
    0 0 30px #ff00de inset;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.bg-image-3 {
  background: var(--D-Cyan-De);
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #000, 0 0 30px #000, 0 0 50px #000, 0 0 60px #000,
    0 0 70px #000;
}
.beneficios {
  display: flex;
  align-self: center;
  justify-items: center;
  padding: 0;
  width: 70%;
}
.beneficios_card {
  text-align: center;
  position: relative;
  height: 100%;
}
.beneficios_card:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  filter: drop-shadow(0 0 5px #ff80ee) drop-shadow(0 0 10px #ff00de)
    drop-shadow(0 0 30px #ff00de);
}
.beneficios_card img {
  width: 75%;
}
.text-ben {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.btx1 {
  position: relative;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 1.33vw;
  transform: rotate(-5deg);
  padding: 0;
  margin: 0;
  z-index: 3;

  text-shadow: 0 0 5px #ff80ee, 0 0 10px #ff00de, 0 0 15px #ff00de,
    0 0 20px #ff00de, 0 0 25px #ff00de;
  animation: 0.3s ease infinite reverse glowb2;
}
.btx2 {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 2.5vw;
  transform: rotate(-5deg);
  padding: 0;
  margin: 0;
  z-index: 1;

  text-shadow: 0 0 5px #ff80ee, 0 0 10px #ff00de, 0 0 15px #ff00de,
    0 0 20px #ff00de, 0 0 25px #ff00de;
  animation: 0.3s ease infinite reverse glowb2;
}
@keyframes glowb2 {
  0% {
    text-shadow: 0 0 5px #ff80ee, 0 0 10px #ff00de, 0 0 15px #ff00de,
      0 0 20px #ff00de, 0 0 25px #ff00de;
  }
  75% {
    text-shadow: 0 0 5px #ff80ee, 0 0 10px #ff00de, 0 0 15px #ff00de,
      0 0 20px #ff00de, 0 0 25px #ff00de;
    filter: brightness(120%);
  }
}

.pasos-pa {
  background: var(--D-Cyan-De);
  padding: 0% 10% 5% 10%;
}

.titulo-pa {
  padding: 2%;
}
.titulo-pa h2 {
  margin-left: 6%;
}
.titulo-pa p {
  margin-left: 6%;
}

.titulo-2-pa {
  color: var(--white);
  margin-top: 10%;
  font-size: 2rem;
}
.text-2-pa {
  color: var(--white);
  font-size: 1.5rem;
}
.text-2-1-pa {
  color: var(--white);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}

.paso-pa {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paso-pa img {
  width: 100%;
  margin: 10% 10% 10% 0;
  padding: 0;
}
.paso-1-2-pa .paso-pa img:hover {
  filter: drop-shadow(0 0 5px #ff80ee) drop-shadow(0 0 10px #ff00de)
    drop-shadow(0 0 30px #ff00de);
}
.paso-3-4-pa .paso-pa img:hover {
  filter: drop-shadow(0 0 5px #6ec6d8) drop-shadow(0 0 10px #00ffff)
    drop-shadow(0 0 30px #00ffff);
}

.paso-pa:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.paso-1-pa {
  margin: 0%;
  align-self: center;
}
.paso-1-pa a {
  text-decoration: none;
}
.ventajas {
  background: url("/Img/Fondos/Ladrillos.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.ventajas_green {
  background-color: var(--green);
  border-radius: 30px;
  margin-top: 10%;
  width: 80%;
}
.ven_green1 {
  display: flex;
  align-items: start;
  margin: 2% 2%;
  justify-content: center;
}
.ven_green2 {
  display: flex;
  align-items: start;
  margin: 2% 2%;
  justify-content: center;
}
.ventajas_box {
  width: 25%;
  margin: 2%;
  text-justify: center;
}
.ventajas_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #ff80ee) drop-shadow(0 0 10px #ff00de)
    drop-shadow(0 0 30px #ff00de);
  animation: 0.3s ease infinite reverse glowb3;
  &:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
  }
}
.ventajas_icon img {
  height: 70px;
  align-self: center;
  justify-self: center;
}
@keyframes glowb3 {
  0% {
    filter: drop-shadow(0 0 5px #ff80ee) drop-shadow(0 0 10px #ff00de)
      drop-shadow(0 0 30px #ff00de);
  }
  75% {
    filter: drop-shadow(0 0 5px #ff80ee) drop-shadow(0 0 10px #ff00de)
      drop-shadow(0 0 30px #ff00de) brightness(120%);
  }
}
.ventajas_text {
  text-align: center;
}
.ven_text {
  color: var(--white);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1.1vw;
}

.main-carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  background: none;
}
.contenedor-imagen {
  position: relative;
  border-radius: 10px;
  width: auto;
  height: 80%;
  aspect-ratio: 2.35 / 1;
  overflow: hidden;
  box-shadow: 6px 6px 26px -2px rgba(0, 0, 0, 0.33);
  margin-bottom: 30px;

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

    picture {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
    }
  }
}

.contenedor-botones {
  position: absolute;
  width: 95%;
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;

  button {
    width: auto;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    transition: all 0.5s ease;
    background: none;
    color: #01686d;
    pointer-events: auto;
    i {
      font-size: 60px;
      &:hover {
        font-size: 80px;
      }
    }
  }
  .prev {
    position: absolute;
    left: 15px;
  }

  .next {
    position: absolute;
    right: 15px;
  }
}


