@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/century-gothic-paneuropean?styles=90072,90073,90075,90070,90065,90067,90063");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-style: italic;
}

body {
  background: url("/Img/Fondos/Fondo-principal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
:root {
  --green: #01686d;
  --Fucsia: #ed1e79;
  --Cyan: #00ffff;
  --white: #fff;
  --D-Fucsia-iz: linear-gradient(
    90deg,
    rgba(237, 30, 121, 1) 0%,
    rgba(1, 104, 109, 1) 100%
  );
  --D-Cyan-iz: linear-gradient(
    90deg,
    rgb(0, 255, 242) 5%,
    rgba(1, 104, 109, 1) 95%
  );
  --D-Fucsia-De: linear-gradient(
    90deg,
    rgba(10, 98, 108, 1) 38%,
    rgba(237, 30, 121, 1) 100%
  );
  --D-Cyan-De: linear-gradient(
    90deg,
    rgb(1, 104, 109) 5%,
    rgba(0, 255, 242, 1) 95%
  );
  --D-Negro-iz: linear-gradient(90deg, rgb(0, 0, 0) 5%, rgba(1, 104, 109) 95%);
  --D-Fucsia: linear-gradient(
    0deg,
    rgba(1, 104, 109, 0.5998774509803921) 0%,
    rgba(237, 30, 121, 1) 100%
  );
  --D-Negro: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 76, 80, 0.7595413165266106) 56%,
    rgba(1, 104, 109, 0.5998774509803921) 100%
  );
  --text-shadow: 1px 1px 3px rgb(88, 88, 88);
  --text-shadow-cyan: 1px 1px 5px rgb(0, 255, 242);
  --box-shadow-fucsia: 0px 0px 31px 2px rgba(237, 30, 121, 1);
  --box-shadow-cyan: 0px 0px 31px 2px rgba(0, 255, 242, 1);
}
/*============================================SCROLLBAR=========================================*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--D-Fucsia);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--D-Fucsia);
}

/*============================================MENU=========================================*/
.full-menu {
  position: fixed;
  top: 0;
  z-index: 50;
  background: url("/Img/Fondos/Ladrillos-Azules.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  left: -108%;
}
.close {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: end;

}
.close span {
  font-size: 50px;
  cursor: pointer;
  color: var(--white);
  margin: 20px 20px 0 0;
  position: absolute;
  z-index: 10;
}
.full-menu .navegacion ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.full-menu .navegacion ul li {
  align-self: start;
  justify-content: space-evenly;
  display: flex;
  justify-content: end;
  padding-left: 5%;
}

.full-menu .navegacion ul li a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 50px;
  color: var(--white);
  opacity: 0.3;
}

.full-menu .navegacion ul li a:hover {
  opacity: 1;
}

#Menu-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Menu-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
}
/*============================================SLOGAN=========================================*/

.slogan-white {
  color: var(--white);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 90px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.slogan-green {
  color: var(--green);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 90px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

/*============================================NAV-BAR=========================================*/

.header {
  padding: 0px;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 5;
  align-items: center;
  width: 100%;
  height: 15vh;
  justify-content: space-evenly;
  transition: all 0.3s;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link .logo {
  align-items: center;
  height: auto;
}

.logo img {
  width: auto;
  padding: 10px;
  margin: 0px;
  height: 100%;
  min-height: 60px;
}
.logo img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}


.menu {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.menu ul li {
  list-style: none;
  margin: 15px;
}

.menu ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.menu ul li a {
  text-decoration: none;
  color: var(--green);
}

.menu ul li:hover a {
  color: var(--Fucsia);

}
.menu ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.menu ul li:hover .underline {
  background-color: var(--Fucsia);
	width: 100%;
}

.menu ul li:active .underline {
	transition: none;
	background-color: var(--Fucsia);
}



.btn-fullmenu {
  justify-content: end;
  align-items: end;
  height: auto;
}
.btn-fullmenu button:hover {
  box-shadow: var(--box-shadow-fucsia);
  transform: scale(1.2);
  transition: all 0.3s;
}

.btn-fullmenu button {
  background: var(--D-Fucsia-iz);
  padding: 2px 6px;
  font-style: italic;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 8px;
  height: auto;
  width: auto;
}

/*============================================MAIN=========================================*/
.main-1 {
  width: 100%;
  height: 85vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-1-1 {
  color: var(--green);
  justify-content: center;
}

.btn-stc {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 0px 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  white-space: pre;
  height: 40px;
}
.btn-stc:hover {
  box-shadow: none;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.persona-1 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: end;
}
.persona-1 img {
  height: 100%;
  align-items: end;
}

/*============================================PASOS/VENTAJAS=========================================*/

.pasos {
  background: var(--D-Cyan-De);
  padding: 0% 10% 5% 10%;
}
.ventajas {
  background: var(--D-Negro-iz);
  padding: 0% 10% 5% 10%;
}
.titulo {
  padding: 2%;
}
.titulo h2 {
  margin-left: 6%;
}
.titulo p {
  margin-left: 6%;
}
.titulo-2 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  margin-top: 10%;
  font-size: 2rem;
}
.text-2 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-size: 1.5rem;
}
.text-2-1 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}
.paso {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paso img {
  width: 100%;
  margin: 10% 10% 10% 0;
  padding: 0;

}
.paso img:hover {
  filter: drop-shadow(0px 0px 25px #ed1e79);
}
.paso:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.paso-1 {
  margin: 0%;
}

/*============================================BANNER=========================================*/

.bg-image-2 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 6% 0% 6%;
  height: 100%;
}

.banner .persona-1 img {
  height: 100%;
}
.banner .btn {
  margin-top: 3%;
}
.banner .text-2-1 {
  text-shadow: none;
}
.text-4 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text-4 p {
  color: var(--green);
  text-justify: center;
}

/*============================================REQUISITOS=========================================*/

.requisitos {
  background: var(--D-Cyan-De);
  padding: 0% 10% 6% 10%;
}
.requisitos-icon img {
  width: 70%;
  filter: drop-shadow(0px 0px 8px #ed1e79);
}
.requisitos-icon :hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

/*============================================PAGOS=========================================*/
.pagos {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pagos-icon {
  width: 100%;
  filter: drop-shadow(0px 0px 8px #ed1e79);
  margin-bottom: 8%;
}
.pagos-icon img {
  filter: drop-shadow(0px 0px 8px #ed1e79);
  width: 100px;
}
.pagos-icon img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.pagos a {
  text-decoration: none;
  list-style: none;
}
.pagos .text-2 {
  color: var(--green);
  text-shadow: none;
}
.pagos .text-2-1 {
  color: var(--green);
  text-shadow: none;
}
#titulo-pagos {
  color: var(--green);
  text-shadow: none;
  font-size: 2rem;
}
.bg-image-3 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0% 10% 6% 10%;
}

/*============================================FOOTER=========================================*/

.footer {
  background: var(--D-Fucsia-De);
  padding: 5% 10% 3% 10%;
}
/*============================================FORMS=========================================*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Fucsia);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Fucsia);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.enviar {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 3px 25px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 3%;
  border: none;
}
.enviar:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.btn-fullmenu button p {
  color: #fff;
  align-items: center;
}

.aviso {
  font-size: 13px;
  color: var(--white);
}

.colocar {
  font-size: 20px;
  color: var(--white);
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid var(--Fucsia);
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid var(--Fucsia);
}
/*============================================CONTACTO=========================================*/
.invitación-3 {
  color: var(--white);
  padding-top: 1%;
}
.btn_redes:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow-cyan);
}

.btn_redes {
  background: var(--D-Cyan-iz);
  padding: 7px 5px;
  width: 50px;
  height: 50px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
  box-shadow: none;
  border-bottom: none;
  border: none;
  margin-top: 10%;
}

.btn_redes a {
  text-decoration: none;
  color: var(--white);
}
/*============================================CONTACTO=========================================*/

.info-contacto {
  background: var(--green);
  padding: 0.8% 10% 0.8% 10%;
  align-items: center;
}

.info-contacto ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.info-contacto ul li {
  text-decoration: none;
  list-style: none;
}
.info-contacto ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8em;
  line-height: 1px;
}
/*============================================EMPRESA=========================================*/
/*============================================MAIN-2=========================================*/
.main-2 {
  width: 100%;
  height: 85vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-1-1 {
  color: var(--green);
  justify-content: center;
}

.btn-stc {
  cursor: pointer;
  color: var(--white);
  box-shadow: var(--box-shadow-fucsia);
  background: var(--D-Fucsia-iz);
  padding: 0px 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  white-space: pre;
  height: 40px;
}
.btn-stc:hover {
  box-shadow: none;
}
.btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.Grupo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: end;
}
.Grupo img {
  width: 87%;
  align-self: end;
}
/*============================================AFILIACIÓN=========================================*/
.bg-image-4 {
  background: url("/Img/Fondos/Ladrillos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 70px 50px rgba(10, 98, 108, 1);
  padding: 0% 10% 6% 10%;
}
.afiliacion-icon img {
  width: 10%;
  filter: drop-shadow(0px 0px 3px #4d4d4d);
  left: 10%;
  z-index: 4;
  justify-items: center;
}

.afiliacion-2 {
  background: var(--D-Negro);
  height: 50vh;
  display: flex;
  align-self: center;
}
.afiliacion-bg1 {
  background-color: rgba(1, 104, 109, 0.9);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg1:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/Img/Empresas/conductora 1.jpg");
  background-size: 100%;
  background-position: center;
}

.afiliacion-bg2 {
  background-color: rgba(1, 104, 109, 0.8);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg2:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/Img/Empresas/conductor 2.jpg");
  background-size: 100%;
  background-position: center;
}
.afiliacion-bg3 {
  background-color: rgba(1, 104, 109, 0.7);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg3:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 104, 109, 0.6);
  background: url("/Img/Empresas/conductor 3.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
.afiliacion-bg4 {
  background-color: rgba(1, 104, 109, 0.5);
  display: flex;
  align-self: center;
  height: 50vh;
}
.afiliacion-bg4:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/Img/Empresas/conductora 4.jpg");
  background-size: 100%;
  background-position: center;
}

.afiliacion-a {
  align-content: center;
  justify-content: start;
}
.t-afiliacion .titulo-2 {
  color: var(--green);
  margin-top: 2%;
  font-size: 2rem;
}
.afiliacion-b .text-2 {
  color: var(--white);
  text-shadow: #ed1e79;
  font-size: 1.5rem;
  position: absolute;
  z-index: 5;
  left: 30%;
  top: 45%;
}

.afiliacion::after {
  content: "";
  background-color: rgba(1, 104, 109, 0.5);
}
.afiliacion-b .text-2-1 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-style: normal;
  margin: 0;
  line-height: 130%;
  font-size: 1rem;
}

/*============================================Banner-grupo=========================================*/

.banner .grupo-1 {
  display: flex;
  align-content: end;
  height: 100%;
  padding: 0;
}

.banner .grupo-1 img {
  margin: 0%;
  width: 100%;
  align-self: end;
}

.slogan-green-2 {
  color: var(--green);
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-weight: 610;
  font-style: normal;
  letter-spacing: -0.3vw;
  font-size: 80px;
  padding: 0;
  margin: 0;
  justify-content: center;
}


